@{
    ViewData["Title"] = "Directions";
}

<div class="max-width-550 mx-auto container pb-3">
    <h1 class="mt-3 mb-3 text-center">Input Directions</h1>
    <p>
        Some inputs allow HTML to help make the display page look nice.
        You can copy some basic HTML codes below to use for your inputs.
        For line break you can either use the HTML below or just type in your line breaks directly.
    </p>
    <p>To add a numbered list copy this:</p>
    <pre>
&lt;ol style="white-space: normal;"&gt;
    &lt;li&gt;Coffee&lt;/li&gt;
    &lt;li&gt;Tea&lt;/li&gt;
    &lt;li&gt;Milk&lt;/li&gt;
&lt;/ol&gt;
    </pre>
    <p>To add a bulleted list copy this:</p>
    <pre>
&lt;ul style="white-space: normal;"&gt;
    &lt;li&gt;Coffee&lt;/li&gt;
    &lt;li&gt;Tea&lt;/li&gt;
    &lt;li&gt;Milk&lt;/li&gt;
&lt;/ul&gt;
    </pre>
    <p>You can also make text <strong>bold</strong> with this:</p>
    <pre>&lt;strong&gt;bold text&lt;/strong&gt;</pre>
    <p>To simply do a line break use this:</p>
    <pre>&lt;br/&gt;</pre>
</div>
