@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container pb-3">
    <h1 class="display-3 mt-3">Useful Web Apps</h1>
    <p class="max-width-550 mx-auto">
        Hi, and welcome to Useful Web Apps. It's a family share application.
        For now it's just a list and recipe app. All lists are private to your login but recipies and recipe comments can be
        seen by everyone. You can only modify or delete recipes you create but you can comment on any recipe.
        Future plans are to add weather, family calendar, family chat, and a website aggregator.
        Login and passwords are by invitaion only (admin needs to set). This is a private app. 
    </p>
</div>
