<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Useful Web Apps</title>
    <link rel="stylesheet" href="~/css/custom.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/toastrjs/toastr.min.js"></script>
    <link rel="stylesheet" href="~/lib/toastrjs/toastr.min.css" />
</head>
<body class="text-dark">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Useful Web Apps</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("StandardUser"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ListBuddy" asp-action="Index">List Buddy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="MyRecipes" asp-action="Index">My Recipes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="MyHomePage" asp-action="Index">Custom Home Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Weather" asp-action="Index">Weather</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ArtWork" asp-action="Index">Artwork</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Manage">Manage Accounts</a>
                            </li>
                        }
                        <li class="nav-item">
                            <partial name="_LoginStatusPartial" />
                        </li>
                        <li class="nav-item">
                            @if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
                            {
                                <span class="nav-link link-light">Welcome @User?.Identity?.Name</span>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark text-light">
        <div class="container">
            <span>&copy; 2024 - Useful Web Apps</span>
        </div>
    </footer>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
