@using UsefulWebApps.Models.MyRecipes
@{
    ViewData["Title"] = "My Recipes";
}

@model UsefulWebApps.Models.ViewModels.MyRecipes.SavedRecipesVM

<div class="text-center list-buddy-index-container mx-auto">
    <h1 class="display-4">Your Saved Recipes</h1>
    <ul class="list-group">
        @foreach (RecipeUserSaved recipe in Model.RecipeUserSaved)
        {
            <li class="list-group-item">
                <a asp-controller="MyRecipes" asp-action="Recipe" asp-route-id="@recipe.RecipeId">@recipe.RecipeTitle</a>
                <form method="post" asp-route="deleteUserSavedRecipe" id="delete-user-saved-recipe">
                    <input type="hidden" asp-for="@recipe.UserSavedId" name="id" />
                    <button type="submit" class="btn btn-danger">Remove From List</button>
                </form>
            </li>
        }
    </ul>
</div>