
/*To Do List Styles*/


.to-do-list-delete-item {
    display: inline-block;
}



.to-do-list-edit {
    display: inline-block;
}

.to-do-list-mark-complete {
    display: inline-block;
}

.to-do-list-item {
    margin-bottom: 10px;
    display: inline-block;
}

.line-through {
    text-decoration: line-through;
}


/*End To Do List Styles*/

/*Grocery List Styles*/


.grocery-list-delete-item {
    display: inline-block;
}



.grocery-list-edit {
    display: inline-block;
}

.grocery-list-mark-complete {
    display: inline-block;
}

.grocery-list-item {
    margin-bottom: 10px;
    display: inline-block;
}



/*End Grocery List Styles*/
