/*Recipe Edit*/
.choice-list {
    max-height: 206px;
    margin-bottom: 10px;
    overflow-y: scroll;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.textarea-input {
    height: 250px !important;
}
/*End Recipe Edit*/
