html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

::-webkit-scrollbar {
    width: .75em;
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 10px;
}
/*for jquery validate*/
.error {
    position: unset !important;
    font-weight: bold;
    color: red;
}


.list-buddy-index-container {
    max-width: 550px;
}

.list-links-container {
    max-width: 200px;
}
/*To Do List Styles*/
.to-do-list-container {
    max-width: 550px;
}

.to-do-list-delete-item {
    display: inline-block;
}

.add-to-do-item {
    max-width: 550px;
}

.to-do-list-edit {
    display: inline-block;
}

.to-do-list-mark-complete {
    display: inline-block;
}

.to-do-list-item {
    margin-bottom: 10px;
    display: inline-block;
}

.line-through {
    text-decoration: line-through;
}

.delete-all-to-do-item {
    max-width: 175px;
}
/*End To Do List Styles*/

/*Grocery List Styles*/
.grocery-list-container {
    max-width: 550px;
}

.grocery-list-delete-item {
    display: inline-block;
}

.add-grocery-item {
    max-width: 550px;
}

.grocery-list-edit {
    display: inline-block;
}

.grocery-list-mark-complete {
    display: inline-block;
}

.grocery-list-item {
    margin-bottom: 10px;
    display: inline-block;
}

.delete-all-grocery-item {
    max-width: 175px;
}

/*End Grocery List Styles*/

/*Recipe Edit*/

.choice-list {
    max-height: 206px;
    margin-bottom: 10px;
    overflow-y: scroll;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.textarea-input {
    height: 250px !important;
}

/*End Recipe Edit*/

