@{
    ViewData["Title"] = "Delete User";
}

@model UsefulWebApps.IdentityModels.RemoveUser

<div class="max-width-550 mx-auto">
    <h1 class="display-3 mt-3 text-center">Admin - Delete User From App</h1>
    <p>
        Before deleting the user login as them and remove any data they have saved that you don't want left in the database. 
        Otherwise this data will be orphaned in the database.
    </p>
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-floating mb-3">
            <input type="text" asp-for="UserName" class="form-control" id="userNameInput" placeholder="User Name" />
            <label asp-for="UserName" for="userNameInput">User Name</label>
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="text" asp-for="Email" class="form-control" id="emailInput" placeholder="Email" />
            <label asp-for="Email" for="emailInput">Email</label>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        
        <div class="max-width-175 mx-auto">
            <div>
                <button type="submit" class="btn btn-primary mb-3 w-100">Delete User</button>
            </div>
        </div>
    </form>
</div>