@{
    ViewData["Title"] = "Register Admin";
}

@model UsefulWebApps.IdentityModels.Register

<div class="max-width-550 mx-auto container pb-3">
    <h1 class="display-3 mt-3 text-center">Admin User Registration</h1>
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-floating mb-3">
            <input type="text" asp-for="UserName" class="form-control" id="userNameInput" placeholder="User Name" />
            <label asp-for="UserName" for="userNameInput">User Name</label>
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="text" asp-for="Email" class="form-control" id="emailInput" placeholder="Email" />
            <label asp-for="Email" for="emailInput">Email</label>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="password" asp-for="Password" class="form-control" id="passwordInput" placeholder="Password" />
            <label asp-for="Password" for="passwordInput">Password</label>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="max-width-175 mx-auto">
            <div>
                <button type="submit" class="btn btn-primary mb-3 w-100">Register</button>
            </div>
        </div>
    </form>
</div>
