@{
    ViewData["Title"] = "Weather";
}

<div class="text-center">
    <h1 class="display-3 mt-3">Weather</h1>
    <p>Powered by: <a href="https://openweathermap.org/">https://openweathermap.org/</a></p>
</div>