@{
    ViewData["Title"] = "Weather";
}

<div class="text-center max-width-550 mx-auto">
    <h1 class="display-3 mt-3">Weather</h1>
    <p>Powered by: <a href="https://openweathermap.org/" target="_blank">https://openweathermap.org/</a></p>
    
    <p>To get started add some <a asp-controller="Weather" asp-action="AddLocations">locations</a> to your account.</p>
    
</div>