@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@using UsefulWebApps.Models.ListBuddy
@{
    ViewData["Title"] = "Grocery List";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@model UsefulWebApps.Models.ViewModels.ListBuddy.GroceryListVM

<div class="text-center max-width-550 mx-auto container pb-3">
    <input id="RequestVerificationToken" type="hidden" value="@requestToken" />
    <h1 class="display-3 mt-3">Grocery List</h1>
    <div id="grocery-list-container">
        <partial name="_GroceryListPartial" />
    </div>
    <form method="post" class="max-width-550" id="add-grocery-list-item">
        <div class="input-group mb-3 mt-3">
            <!--Complete default value is False-->
            <input asp-for="GroceryList.Complete" hidden />
            <input asp-for="GroceryList.UserId" hidden />
            <input asp-for="GroceryList.GroceryItem" type="text" class="form-control" placeholder="New Item" minlength="3" maxlength="100" />
            <button class="btn btn-outline-dark" type="submit">Add Item</button>
        </div>
        <div class="mb-3">
            <select class="form-select required" asp-for="Category" asp-items="Model.GroceryCategoriesList">
                <option selected value="">Please Select a Category</option>
            </select>
        </div>
        <div class="mb-2 mt-2" id="new-grocery-item-error"></div>
    </form>

    <form method="post" asp-route="deleteAllGroceryList" class="max-width-175 mx-auto" id="delete-all-grocery-list">
        <div>
            <button type="submit" class="btn btn-danger mb-3 w-100">Delete All</button>
        </div>
        <div>
            <a asp-controller="ListBuddy" asp-action="Index" class="btn btn-outline-dark w-100">List Buddy Home</a>
        </div>
    </form>

</div>
<!--Partial View scripts-->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script type="text/javascript" src="/js/GroceryList.js"></script>
}
