@using UsefulWebApps.Models.ListBuddy
@{
    ViewData["Title"] = "List Buddy";
}

@model UsefulWebApps.Models.ViewModels.ListBuddy.GroceryListVM

<div class="text-center max-width-550 mx-auto">
    <h1 class="display-3 mt-3">Grocery List</h1>

    <partial name="_GroceryListPartial" />
 
    <form method="post" asp-route="createGroceryItem" class="max-width-550">
        <div class="input-group mb-3 mt-3">
            <!--Complete default value is False-->
            <input asp-for="GroceryList.Complete" hidden />
            <input asp-for="GroceryList.UserId" hidden />
            <input asp-for="GroceryList.GroceryItem" type="text" class="form-control" placeholder="New Item" minlength="3" maxlength="100" />
            <button class="btn btn-outline-dark" type="submit">Add Item</button>
        </div>
        <div class="mb-3">
            <select class="form-select" asp-for="Category" asp-items="Model.GroceryCategoriesList">
                <option selected value="Please Select a Category">Please Select a Category</option>
            </select>
        </div>
        <div class="mb-2 mt-2">
            <span asp-validation-for="GroceryList.GroceryItem" class="text-danger"></span>
        </div>
    </form>

    <form method="post" asp-route="deleteAllGroceryList" class="max-width-175 mx-auto" id="delete-all-grocery-list">
        <div>
            <button type="submit" class="btn btn-danger mb-3 w-100">Delete All</button>
        </div>
        <div>
            <a asp-controller="ListBuddy" asp-action="Index" class="btn btn-outline-dark w-100">List Buddy Home</a>
        </div>
    </form>

</div>
<!--Partial View scripts-->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script type="text/javascript">
        $("#delete-all-grocery-list").validate({
            submitHandler: function (form) {
                //ask to confirm delete
                toastConfirm().then(deleteConfirm => {
                    if (deleteConfirm == true) {
                        form.submit();
                    }
                    else {
                        toastr.success("Item has NOT been deleted");
                    }
                });
            }
        });
        //have to loop through each form and submit "this" one that is clicked
        $(".grocery-list-delete-item").each(function () {
            $(this).validate({
                submitHandler: function (form) {
                    //ask to confirm delete
                    toastConfirm().then(deleteConfirm => {
                        if (deleteConfirm == true) {
                            form.submit();
                        }
                        else {
                            toastr.success("Item has NOT been deleted");
                        }
                    });
                }
            });
        });
    </script>
}
