@{
    ViewData["Title"] = "List Buddy";
}

@model UsefulWebApps.Models.ViewModels.ListBuddy.GroceryListEditVM

<div class="text-center max-width-500 mx-auto">
    <h1 class="display-4">Edit</h1>
    <form asp-controller="ListBuddy" asp-action="GroceryListEdit" method="post">
        <div class="input-group mb-3 mt-3">
            <input asp-for="GroceryList.Id" hidden />
            <input asp-for="GroceryList.Complete" hidden />
            <input asp-for="GroceryList.UserId" hidden />
            <input asp-for="GroceryList.GroceryItem" type="text" class="form-control" placeholder="new item" />
            
        </div>
        <div>
            <select class="form-select" asp-for="Category" asp-items="Model.GroceryCategoriesList"></select>
        </div>
        <div class="mt-2">
            <button class="btn btn-primary" type="submit">Edit Item</button>
        </div>
        <div class="mb-2">
            <span asp-validation-for="GroceryList.GroceryItem" class="text-danger"></span>
        </div>
        <div>
            <a asp-controller="ListBuddy" asp-action="GroceryList" class="btn btn-primary">Back to List</a>
        </div>
    </form>
</div>

<!--Partial View scripts-->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

