@{
    ViewData["Title"] = "List Buddy";
}

<div class="text-center container pb-3">
    <h1 class="display-3 mt-3">List Buddy</h1>
    <p>Choose a list template to use</p>
    <div class="list-group max-width-200 mx-auto">
        <a asp-controller="ListBuddy" asp-action="MyToDoLists" class="list-group-item list-group-item-action">My To Do Lists</a>
        <a asp-controller="ListBuddy" asp-action="GroceryList" class="list-group-item list-group-item-action">Grocery List</a> 
        <a asp-controller="ListBuddy" asp-action="MyNotes" class="list-group-item list-group-item-action">My Notes</a> 
    </div>
</div>

