@{
    ViewData["Title"] = "List Buddy";
}

<div class="text-center">
    <h1 class="display-3 mt-3">List Buddy</h1>
    <p>Choose a list template to use</p>
    <div class="list-group max-width-200 mx-auto">
        <a asp-controller="ListBuddy" asp-action="ToDoList" class="list-group-item list-group-item-action">To Do List</a>
        <a asp-controller="ListBuddy" asp-action="GroceryList" class="list-group-item list-group-item-action">Grocery List</a> 
    </div>
</div>

