@{
    ViewData["Title"] = "My Notes";
}

@model UsefulWebApps.Models.ViewModels.ListBuddy.NotesVM

<div class="text-center">
    <h1 class="display-3 mt-3">My Notes</h1>
    <div class="list-group max-width-200 mx-auto">
        @foreach (var note in Model.Notes)
        {
            <a asp-controller="ListBuddy" asp-action="" class="list-group-item list-group-item-action">@note.NoteTitle</a>
        }
    </div>
</div>
