@{
    ViewData["Title"] = "Note";
}
@model UsefulWebApps.Models.ListBuddy.Notes

<div class="max-width-550 mx-auto">
    <h1 class="display-3 mt-3 text-center">@Model.NoteTitle</h1>
    <div class="card text-white bg-info mb-3">
         <div class="card-header">@Model.NoteTitle</div>
         <div class="card-body">
             <p class="card-text">@Model.Note</p>
         </div>
    </div>
</div>
