@{
    ViewData["Title"] = "Share Grocery List";
}

@model UsefulWebApps.Models.ViewModels.ListBuddy.ShareGroceryListVM

<div class="max-width-550 mx-auto container pb-3">
    <h1 class="display-3 mt-3 text-center">Share Grocery List</h1>
    <p>
       To get a friend's list enter their User Name and Email below and click Share List.
    </p>
    <p>
        <strong>Note:</strong> This will delete your current grocery list.
    </p>
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="UserId" />
        <div class="form-floating mb-3">
            <input type="text" asp-for="Friend.UserName" class="form-control" id="userNameInput" placeholder="User Name" />
            <label asp-for="Friend.UserName" for="userNameInput">User Name</label>
            <span class="text-danger" asp-validation-for="Friend.UserName"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="text" asp-for="Friend.Email" class="form-control" id="emailInput" placeholder="Email" />
            <label asp-for="Friend.Email" for="emailInput">Email</label>
            <span class="text-danger" asp-validation-for="Friend.Email"></span>
        </div>

        <div class="max-width-175 mx-auto">
            <div>
                <button type="submit" class="btn btn-primary mb-3 w-100">Share List</button>
            </div>
        </div>
    </form>
</div>