@{
    ViewData["Title"] = "Share Grocery List";
}

@model UsefulWebApps.IdentityModels.User

<div class="max-width-550 mx-auto container pb-3">
    <h1 class="display-3 mt-3 text-center">Share Grocery List</h1>
    <p>
       To share your list with a friend enter their User Name and Email below and click Share List.
    </p>
    <p>
        <strong>Note:</strong> This will delete their current grocery list so check with them first.
    </p>
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-floating mb-3">
            <input type="text" asp-for="UserName" class="form-control" id="userNameInput" placeholder="User Name" />
            <label asp-for="UserName" for="userNameInput">User Name</label>
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="text" asp-for="Email" class="form-control" id="emailInput" placeholder="Email" />
            <label asp-for="Email" for="emailInput">Email</label>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>

        <div class="max-width-175 mx-auto">
            <div>
                <button type="submit" class="btn btn-primary mb-3 w-100">Share List</button>
            </div>
        </div>
    </form>
</div>