@{
    ViewData["Title"] = "Edit To Do List";
}

@model UsefulWebApps.Models.ListBuddy.ToDoList

<div class="text-center max-width-550 mx-auto container pb-3">
    <h1 class="display-3 mt-3">Edit</h1>
    <form method="post">
        <div class="input-group mb-3 mt-3">
            <input asp-for="Id" hidden />
            <input asp-for="Complete" hidden />
            <input asp-for="ToDoItem" type="text" class="form-control" placeholder="New Item" />
            <input asp-for="UserId" hidden />
            <button class="btn btn-outline-dark" type="submit">Edit Item</button>
        </div>
        <div class="mb-3">
            <span asp-validation-for="ToDoItem" class="text-danger"></span>
        </div>
        <div>
            <a asp-controller="ListBuddy" asp-action="ToDoList" class="btn btn-outline-dark">Back to List</a>
        </div>
    </form>
</div>

<!--Partial View scripts-->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
