@{
  
    ViewData["Title"] = "Custom Home Page";
}
<div class="container-fluid">
    <div>
        <p>Just some text or another component i want on top of the slide show</p>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/customhomepage/animals/andrea-reiman-304108-unsplash.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="~/images/customhomepage/animals/david-dibert-51640-unsplash.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="~/images/customhomepage/animals/fezbot2000-318667-unsplash.jpg" class="d-block w-100">
            </div>
        </div>
    </div>
</div>
