@{

    ViewData["Title"] = "Select Quick Links";
}

@model UsefulWebApps.Models.ViewModels.MyHomePage.MyHomePageVM
<div class="container-fluid pb-3">
    <div class="row">
       User pick quick links here
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/MyHomePage.js"></script>
}